body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar {
    width: 30%;
    background-color: #007bff;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto 20px;
}

.sidebar h1 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.sidebar p {
    text-align: center;
    margin: 5px 0;
}

.sidebar h2 {
    margin-top: 30px;
    font-size: 1.5em;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.main-content {
    width: 70%;
    padding: 40px;
    box-sizing: border-box;
}

.main-content h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.formations, .experiences, .competences {
    margin-bottom: 30px;
}

.formation, .experience {
    margin-bottom: 20px;
}

.formation h3, .experience h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.formation p, .experience p {
    margin: 5px 0;
    color:#007bff ;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background:#555 ;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.competences ul li {
    background: #28a745;
}